body {
    margin: 0;
    background-image: url(../image/фон.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    line-height: 170%;
}

header {
    background-color: blue;
    width: 100%;
    min-height: 120px;
    border-bottom: 3px solid #fff;
}

main {
    min-height: 100vh;
    padding: 0px 10% 0px 10%;
}

footer {
    background-color: blue;
    width: 100%;
    min-height: 120px;
    border-top: 3px solid #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI';
    text-shadow: 5px 3px 30px white;
}

ul li {
    font-family: 'Segoe UI';
}

img {
    max-width: 100%;
}

hr {
    border-top: 2px solid white;
}

.header-logo{
    float: left;
    display: inline;
    padding-top: 10px;
    padding-left: 10px;
}

.footer-logo{
    float: left;
    display: inline;
    padding-top: 10px;
    padding-left: 10px;
}

a.hamburger-menu {
    background-color: blue !important;
    color: #fff !important;
}

header a {
    float: left;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    padding: 17px 10px;
    margin-top: 55px;
    margin-left: 20px;
    cursor: pointer;
}

header a.active,
header a:hover {
    background-color: #fff;
    color: blue;
}

.centered {
    text-align: center;
}

.footer-info {
    margin-top: 50px;
    font-size: 25px;
    color: #fff;
}

.img-start{
    max-height: 500px;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 5px 3px 20px white;
}

main p {
    font-family: 'Gill Sans';
}

.container-limbaje{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.img-limbaj {
    max-height: 160px;
    transition: all linear 0.2s;
    border: 3px solid blue;
}

.button1 {
    font-family: 'Times New Roman';
    background-color: white;
    padding: 10px 20px;
    font-size: 25px;
    color: blue;
    border-radius: 15px;
    margin-bottom: 50px;
    transition: all linear 0.5s;
    cursor: pointer;
}

.button2 {
    font-family: 'Times New Roman';
    background-color: white;
    padding: 10px 20px;
    font-size: 25px;
    color: blue;
    border-radius: 15px;
    margin-bottom: 50px;
    transition: all linear 0.5s;
    cursor: pointer;
}

.img-limbaj:hover {
    transform: scale(1.1);
    transition: all linear 0.5s;
}

button.button1:hover {
    transform: scale(1.1);
    transition: all linear 0.5s;
}

button.button2:hover {
    transform: scale(1.1);
    transition: all linear 0.5s;
}

.col-1 {width: 10%;}
.col-2 {width: 20%;}
.col-3 {width: 30%;}
.col-4 {width: 40%;}
.col-5 {width: 50%;}
.col-6 {width: 60%;}
.col-7 {width: 70%;}
.col-8 {width: 80%;}
.col-9 {width: 90%;}
.col-10 {width: 100%;}

[class*="col-"] {
    float: left;
}

.row {
    overflow: hidden;
}

.input-box {
    width: 50%;
    height: 20px;
    font-size: 15px;
    background-color: white;
    border: 3px solid blue;
    border-radius: 20px;
}
.input-box2 {
    width: 50%;
    height: 80px;
    font-size: 15px;
    background-color: white;
    border: 3px solid blue;
    border-radius: 10px;
}

.input-sel {
    width: 50%;
    height: 25px;
    font-size: 15px;
    background-color: white;
    border: 3px solid blue;
    border-radius: 20px;
}

.input-submit {
    font-size: 20px;
    background-color: white;
    color: blue;
    padding: 5px 30px;
    border: 3px solid blue;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: all linear 0.5s;
}

.input-submit:hover {
    transform: scale(1.1);
    transition: all linear 0.5s;
    background-color: blue;
    color: #fff;
}

.contacte-tab {
    background-color: #fff;
    padding-left: 15px;
    border: 3px solid blue;
    border: 3px solid #fff;
}

.contacte-h2 {
    margin-top: 0px;
}

.harta {
    margin-top: 20px;
    margin-bottom: 10px;
}

.hamburger-menu {
    display: none;
    font-size: 35px;
    float: right;
}

.container-iframe {
    margin: auto;
    padding: 10px;
}

.info{
    display: inline;
}

.p-achitare {
    margin-right: 100px;
}

.slideshow-container {
    display: inline-block;
    height: 50px;
}

.slide{
    display: none;
}

.slide img {
    height: 40px;
    max-width: 100%;
}

.item {
    display: inline-flex;
    background-color: blue;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 4px solid #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 8px black;
    margin: 10px;
    padding: 20px;
}

.item img {
    border: 4px solid #fff;
    border-radius: 15px;
}

button.vizit-button {
    font-family: 'Segoe UI';
    background-color: #fff;
    border: 3px solid #000;
    font-size: 20px;
    padding: 5px 25px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 0;
    color: blue;
    text-decoration: none !important;
}

.Qr1 {
    margin-top: 10px;
    height: 150px;
    float: right;
}

.discord {
    height: 70px;
    transition: all linear 0.5s;
}

.discord:hover {
    height: 70px;
    transform: scale(1.1);
    transition: all linear 0.5s;
}

.discordd {
    margin-left: 30px;
    margin-top: -25px;
}

@media (max-width: 1040px) {

    [class*="col-"] {
        width: 100%;
    }

    .footer-info {
        font-size: 20px;
    }

    img.Qr1 {
        height: 70px;
        float: left;
        display: block;
    }

    button.vizit-button {
        display: block; 
    }

    .img-info {
        text-align: center;
    }

    .form {
        margin-bottom: 20px;
    }

    .nav a  {
        display: none;
}
    a.hamburger-menu {
        display: block;
        position: absolute;
        right: 0;
        top: -25px;
        color: #fff;
    }

    .nav.mobile a {
        float: none;
        display: block;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;
        flex-direction: column;
        right: 0px;
    }

    .nav {
        background-color: blue;
        border: 3px solid #000;
        position: absolute;
        right: 0px;
        top: 130px;
    }

}